#logo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;  
    height: auto;
    z-index: 10; 
  }

  h1{
    background-color: #dd94ff;
  }
  
  /* Estilo básico de la página */
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
  }
  
  /* Estilo del encabezado (h1 y h2) */
  .main-header h1, .main-header h2, header h1, header h2 {
    color: #b117f8 !important;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Ajusta el tamaño de h1 */
  .main-header h1, header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  /* Ajusta el tamaño de h2 */
  .main-header h2, header h2 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  /* Estilo de los encabezados h1 y h2 dentro de las secciones */
  section h1, section h2 {
    color: #b117f8 !important;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  section h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  section h2 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  /* Encabezado */
  .main-header {
    background-color: #b117f8;
    color: #d82cfa;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #a09f9f;
  }

  /* Barra de herramientas */
  .toolbar {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    width: 100%;
  }
  
  .toolbar img {
    height: 60px;
  }
  
  /* Contenido principal */
  .features {
    padding: 20px;
  }
  
  .features h2 {
    font-size: 2rem !important;
    margin-bottom: 15px !important;
    color: #8d37d4 !important;  
    border-bottom: 2px solid #b117f8 !important;
    padding-bottom: 5px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  /* Ajustar tamaño de la imagen QR */
  .download-links img {
    width: 150px;  
    height: 150px;  
    object-fit: contain;  
    display: block;  
    margin: 0 auto;  
  }
  
  /* Estilo para el encabezado (h2) */
  .download-links h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #9c05e2;
    border-bottom: 2px solid #b117f8;
    padding-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  /* Estilo para los botones */
  button {
    background-color: #b117f8;  
    color: #7503aa;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 15px;  
    box-shadow: 0 4px 6px rgba(149, 55, 212, 0.5);  
    cursor: pointer;
    transition: all 0.3s ease;  
  }
  
  
  button:hover {
    background-color: #dd94ff;  
    box-shadow: 0 6px 10px rgba(200, 133, 245, 0.5);  
    transform: translateY(-2px);  
  }

  footer{
    background-color: #dd94ff;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    color: #000;
  }

  